body{

    background-color: black;
  
}

.container{
    height: 70rem;
    width: 100rem;
    background-color: antiquewhite;
    margin: auto;
    margin-top: 5rem;
   
   

    
}
.we12{
    height: 80%;
    width: 120%;
    margin: auto;
    background-color: aqua;
   
}